<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repositories.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Repositories.Properties.Settings.CarRentalDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=CarRentalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>